<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign_Up</title>
</head>
<body>
    <form enctype='multipart/form-data' action="/add_Image" method="post">
        <p>ID       : <input type="text" name="id"></p>
        <p>password : <input type="text" name="password"></p>
        <div class="filebox">
            <label for="ex_file">업로드</label>
            <input type="file" name="File">
        </div>
        <input type="submit" value="추가">
    </form>
</body>
</html>